@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Vujahday+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Dosis, sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: Vujahday Script, sans-serif;
    letter-spacing: 5px;
}

#title {
    float: left;
    font-size: 300%;
}

#header-background {
    background-color: #3a3a3a;
}

#menu {
    font-size: 110%;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid black;
}